
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body{
    background-color: #1C1C1C;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: white;
    width: 45vw;
    min-height: 90vh;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.header{
    background: linear-gradient(rgba(0,0,0,0.70), rgba(0,0,0,0.70)), url("https://images.unsplash.com/photo-1616530940355-351fabd9524b?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 30vh;
    color: white;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

h1{
    font-size: 35px;
}

#my-watchlist, #search-movies{
    cursor: pointer;
    font-weight: 500;
    text-decoration: none;
    color: white;
}

#movie-search{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: -15px;

    width: 100%;
    max-width: 560px; 
    height: 45px;       

    border: 1px solid #D1D5DB;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
}

.search-field{
    position: relative;
    flex: 1;
    height: 100%;
}

#movie-input{
    width: 100%;
    height: 100%;

    padding: 0 12px 0 36px;
    border: none;

    color: #6B7280;
    background-color: transparent;
    font-size: 14px;
    outline: none;
}

.fa-magnifying-glass{
    color: #6B7280;
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

#search-btn{
    height: 100%;
    padding: 0 25px;
    border: none;
    border-left: 1px solid #D1D5DB;

    color: #374151;
    background-color: #F9FAFB;

    cursor: pointer;
    font-size: 14px;
}

.movie-list{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}


#start-text i{
    font-size: 70px;
    color: #DFDDDD;
}

#start-text p{
    font-size: 17px;
    font-weight: 600;
    color: #DFDDDD;
}

.movie{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    gap: 50px;
    border-bottom: #dfe0e2 1px solid;
}

.movie img{
    width: 150px;
    height: 200px;
}

.movie-info{
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
}

.movie-info p{
    color: black;
}

.movies{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 35px;
    margin-top: 20px;
}

.movie-header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.movie-title{
    font-weight: 600;
    font-size: 20px;
    color: #111827;
}

.movie-rate{
    font-weight: 400;
    font-size: 13px;
    color: #111827;
}

.movie-descr p{
    font-weight: 400;
    color: #6B7280;
    font-size: 14px;
}

.read-more{
    color:#111827;
    cursor: pointer;
}

.add-to-list, .remove-from-list{
    padding: 10px 8px;
    background-color: #000000;
    border: 2px solid black;
    border-radius: 50px;
    color: white;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    transition: 0.5s;
}

.add-to-list:hover, .remove-from-list:hover{
    color: #000000;
    background-color: white;
}

/* MY WATCHLIST */

#add-movies{
    display: inline-flex;
    align-items: center;
    gap:10px;
    margin-top: 15px;
    color: black;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
}

#add-movies span{
    display: inline-flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;        
    border: 2px solid black;

    color: white;
    background: black;          
    align-items: center;
    justify-content: center;
    font-size: 18px;
    line-height: 1;
}